:root {
    font-family: 'Montserrat', sans-serif;
    --main-color: rgba(202, 0, 0, 0.925);
    --hover-color: rgba(202, 0, 0, 0.925);
    --body-color: #0d0d14;
    --container-color: #2d2e37;
    --text-color: #fcfeff;
    scroll-behavior: smooth;
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

::selection {
    background: var(--main-color);
    color: var(--text-color);
}

html::-webkit-scrollbar {
    width: 0.5rem;
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

i {
    cursor: pointer;
}

img {
    width: 100%;
}

section {
    padding: 3rem 0 2rem;
}

body {
    background: var(--body-color);
    color: var(--text-color);
}

.container {
    max-width: 1060px;
    margin: auto;
    width: 100%;
}

header {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    background: var(--body-color);
    z-index: 100;
}

/* nav */

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

/* for the logo */

.logo {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 600;
    margin: 0 auto 0 0;
}

.logo span {
    color: var(--main-color);
    font-weight: 600;
    font-size: 1.5rem;
}

/* Search Box */

.search-box {
    max-width: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: .7rem;
    padding: 8px 15px;
    background: var(--container-color);
    border-radius: 4rem;
    margin-right: 1rem;
}

.search-box .fa-solid {
    font-size: 1.1rem;
}

.search-box .fa-solid:hover {
    color: var(--main-color);
}

#search-input {
    border: none;
    outline: none;
    width: 100%;
    color: var(--text-color);
    background: transparent;
    font-size: 0.94rem;
}

.user {
    display: flex;
}

.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.navbar {
    position: fixed;
    top: 50%; left: 50px;
    transform: translateY(-50%);
    display: flex;
    flex-flow: column;
    align-items: center;
    row-gap: 2rem;
}

.nav-link {
    color: #b7b7b7;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.nav-active {
    color: rgba(202, 0, 0, 0.925);
}

.nav-link:hover {
    color: var(--text-color);
    transition: .3s all linear;
    transform: scale(1.1);
}

.nav-link i {
    font-size: 1.6rem;
}

.nav-link-title {
    font-size: 0.7rem;
}

.home {
    position: relative;
    min-height: 500px;
    display: flex;
    align-items: center;
    margin-top: 5rem !important;
    border-radius: .5rem;
}

.home-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: top;
    border-radius: .5rem;
}

.home-text {
    padding-left: 50px;
}

.home-title {
    font-size: 3rem;
    font-weight: 600;
    line-height: 2.5rem;
    margin-bottom: 40px;
}

.home-title span {
    font-size: 2rem;
    font-weight: 500;
    color: var(--main-color);
}

.home-text p {
    font-size: 1rem;
    font-weight: 500;
    margin: 0px 0 10px;
    color: var(--main-color);
}

.watch-btn {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    color: var(--text-color);
}

.watch-btn i {
    font-size: 21px;
    width: 40px;
    height: 40px;
    background: var(--main-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.watch-btn span {
    font-size: 1rem;
    font-weight: 400;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--container-color);
    padding: 8px 14px;
    border: 1px solid hsl(200 100% 99%/ 5%);
    margin-bottom: 2rem;
}

.heading-title {
    font-size: 1.2rem;
    font-weight: 500;
}

.movie-box {
    position: relative;
    justify-content: space-between;
    width: auto;
    height: 380px;
    overflow: hidden;
}
.movie-box-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.movie-box .box-text {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%; height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    padding: 14px;
    background: linear-gradient(
        8deg, 
        hsl(240 17% 14% / 74%) 14, 
        hsl(240 17% 14% / 14%) 44
    );
    overflow: hidden;
}

.movie-title {
    font-size: 1rem;
    font-weight: 500;
}

.movie-type {
    font-size: 0.94rem;
}

.play-btn {
    position: absolute;
    bottom: 0.8rem; right: 0.2rem;
}

.movies .heading {
    padding: 10ox 14px;
}

.movies-content, .trending-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
    gap: 1.5rem;
}

.movies-content .movie-box:hover .movie-box-img {
    transform: scale(1.1);
    transition: .5s;
}

.copyright {
    text-align: center;
    padding: 20px;
    color: var(--text-color);
}

.copyright span {
    color: var(--main-color);
    font-weight: 500;
}

/* Play container styles */

.play-container {
    position: relative;
    min-height: 540px;
    margin-top: 5rem !important;
}

.play-img {
    position: absolute;
    width: 100%; height: 100%;
    object-fit: contain;
    z-index: -1;
}

.play-text {
    position: absolute;
    bottom: 0.8rem; left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    padding: 40px;
}

.play-text h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.rating {
    display: flex;
    align-items: center;
    column-gap: 2px;
    font-size: 1.1rem;
    color: red;
    margin-top: 4px;
}

.tags {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin: 1rem 0;
}

.tags span {
    background: var(--main-color);
    padding: 0 4px;
}

.play-movie {
    position: absolute;
    color: var(--text-color);
    bottom: 16rem;
    right: 20rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 45px; height: 45px;
    border-radius: 50%;
    background: var(--main-color);
    font-size: 24px;
    animation: playing 1s linear infinite ;
}

@keyframes playing {
    0% {
        box-shadow: 0 0 0 0 rgb(255, 180, 58, 0.7);
    }
    40% {
        box-shadow: 0 0 0 50px rgb(255, 193, 7, 0);
    }
    80% {
        box-shadow: 0 0 0 50px rgb(255, 193, 7, 0);
    }
    100% {
        box-shadow: 0 0 0 rgb(255, 193, 7, 0);
    }
}

.about-movie {
    margin-top: 2rem !important;
}

.about-movie h2 {
    color: var(--main-color);
    font-size: 1.4rem;
    font-weight: 600;
}

.about-movie p {
    max-width: 600px;
    font-size: 0.94rem;
    margin: 10px 0;
}

.cast-heading {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--main-color);
}

.cast {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
    gap: 1.1rem;
}

.cast-img {
    width: 150px;
    height: 200px;
}

.download {
    max-width: 800px;
    width: 100%;
    margin: auto;
    display: grid;
    justify-content: center;
    margin-top: 2rem;
}

.download-title{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 1.6rem 0;
    color: var(--main-color);
}

.download-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 2rem;
}

.download-links a {
    text-align: center;
    background: var(--main-color);
    padding: 12px 24px;
    color: var(--text-color);
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 5px;
    text-transform: uppercase;
}

.download-links a:hover {
    letter-spacing: 0.1rem;
}


@media (max-width: 1170px) {
    .navbar {
        top: auto; left: 0; right: 0; bottom: 0;
        transform: translateY(0);
        flex-direction: row;
        justify-content: space-evenly;
        row-gap: 1px;
        padding: 10px 12px;
        border-top: 1px solid var(--container-color);
        background: var(--body-color);
    }
    html::-webkit-scrollbar {
        width: 0.5rem;
        background: transparent;
    }
    
    html::-webkit-scrollbar-thumb {
        background: var(--main-color);
    }

    .nav-link i {
        font-size: 1.5rem;
    }

    .copyright {
        margin-bottom: 4rem;
    }
    ::selection {
        background: var(--main-color);
        color: var(--text-color);
    }
}

@media (max-width: 1060px) {
    .container {
        margin: 0 auto;
        width: 95%;
    }
    ::selection {
        background: var(--main-color);
        color: var(--text-color);
    }
}

@media (max-width: 991px) {
    .movies-content {
        grid-template-columns: repeat(auto-fit minmax(214px, 1fr));
    }
    ::selection {
        background: var(--main-color);
        color: var(--text-color);
    }
    html::-webkit-scrollbar {
        width: 0.5rem;
        background: transparent;
    }
    
    html::-webkit-scrollbar-thumb {
        background: var(--main-color);
    }
}

@media (max-width: 880px) {
    html::-webkit-scrollbar {
        width: 0.5rem;
        background: transparent;
    }
    
    html::-webkit-scrollbar-thumb {
        background: var(--main-color);
    }
    .nav {
        padding: 14px 0;
    }
    .home {
        min-height: 440px;
        margin-top: 4rem !important;
    }
    .home-text {
        padding: 25px;
    }

    .home-title {
        font-size: 1.6rem;
    }
    .watch-btn span {
        font-size: 0.9rem;
    }
    .movie-title {
        font-size: 1rem;
        padding-right: 30px;
    }
    .cast {
        justify-content: center;
    }
    ::selection {
        background: var(--main-color);
        color: var(--text-color);
    }
}

@media (max-width: 768px) {
    html::-webkit-scrollbar {
        width: 0.5rem;
        background: transparent;
    }
    
    html::-webkit-scrollbar-thumb {
        background: var(--main-color);
    }
    .nav {
        padding: 11px 0;
    }
    ::selection {
        background: var(--main-color);
        color: var(--text-color);
    }

    .logo {
        font-size: 1.2rem;
    }
    
    section {
        padding: 2rem 0;
    }
    .home-img {
        object-position: left;
    }
    .movie-type {
        font-size: 0.875rem;
        margin-top: 2px;
    }
    .box-text {
        background: linear-gradient( rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.253));
    }
    .tags span, 
    .about-movie p {
        font-size: 0.875rem;
    }
    p {
        font-size: 0.875rem;
    }
    .play-text h2,
    .about-movie h2 {
        font-size: 1.3rem;
    }
    .play-movie {
        bottom: 10rem; right: 2rem;
    }
}

@media (max-width: 514px) {
    html::-webkit-scrollbar {
        width: 0.5rem;
        background: transparent;
    }
    
    html::-webkit-scrollbar-thumb {
        background: var(--main-color);
    }
    .home {
        min-height: 380px;
    }
    .heading {
        padding: 2px 14px;
    }
    .heading-title {
        font-size: 1rem;
    }
    .play-text {
        padding: 20px;
    }
    .cast-heading {
        font-size: 1.1rem;
    }
    .cast-title {
        font-size: 0.9rem;
    }
    ::selection {
        background: var(--main-color);
        color: var(--text-color);
    }
}

@media (max-width: 408px) {
    html::-webkit-scrollbar {
        width: 0.5rem;
        background: transparent;
    }
    
    html::-webkit-scrollbar-thumb {
        background: var(--main-color);
    }
    ::selection {
        background: var(--main-color);
        color: var(--text-color);
    }
    * {
        scroll-padding-top: 5rem;
    }
    .nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 5px;
    }
    .search-box {
        max-width: 100%;
        width: 100%;
        order: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media (max-width: 414px) {
    html::-webkit-scrollbar {
        width: 0.5rem;
        background: transparent;
    }
    
    html::-webkit-scrollbar-thumb {
        background: var(--main-color);
    }
    .navbar .fa-solid {
        font-size: 21px;
    }
    .navbar {
        row-gap: 2px;
    }
    ::selection {
        background: var(--main-color);
        color: var(--text-color);
    }
}